* {
  box-sizing: border-box;
}

html {
  font-family: 'American Typewriter', courier, sans-serif;
  font-size: 1rem; 
}

.tic-tac-toe > p > button {
  font-size: 10rem;
  width: 10rem;
  height: 10rem;
  margin: 0;
  padding: 0;
  border: 3px solid
}

